.carrito-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
}


.carrito-contend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 80%;
    
    
    background-color: var(--color-Tercero);
    border-radius: 10px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    
    padding: 1em 1em;
    
    
}
.carrito-contend .parra{
    font-size: 16px;
    font-weight: 500;

  
}

.carrito-contend .h4{
    font-size: 15px;
    font-weight: 500;
    width: 25%;
    text-align: center;


        display: -webkit-box;
    -webkit-line-clamp: 3;      /* Número de líneas a mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;


    
}

.carrito-contend img{

    max-width: 15%;
    max-height: 150px;
    

}


.total-pagar{
    text-align: center;

}

@media (max-width: 768px) {
    .carrito-contend{
    width: 100%;
  
    
}

.carrito-contend h2, p{
    font-size: 10px;
    font-weight: 500;
   
}

.carrito-contend h4{
    font-size: 10px;
    font-weight: 500;
 


    
}



  
}

@media (max-width: 540px) {


.carrito-contend{
    width: 100%;
    align-items: center;
    max-height: 100%;
    padding: 1em 1em;
    
    display: flex;
    
}
.carrito-contend h4{
display: none;


    
}

}